/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --info: #48ddff;
  --success: #53ff55;
  --error: #ff3535;
  --warning: #ffb62f;
}
.dialog {
  position: relative;
  margin: 10;
  padding: 10;
  --mdc-dialog-supporting-text-color: #ffffff;
  text-align: center;
}
.info-dialog {
  background-color: #48ddff;
}
.success-dialog {
  background-color: #53ff55;
}
.error-dialog {
  background-color: #ff3535;
}
.warning-dialog {
  background-color: #ffb62f;
}
.dialog-icon {
  position: absolute;
  padding: 5px;
  color: white;
}
