<div class=" {{ data.dialogType }}-dialog">
  <div class="dialog-icon">
    <button mat-fab color="{{ data.dialogType }}">
      <mat-icon fontIcon="{{ dialogTypeIcon[data.dialogType] }}"></mat-icon>
    </button>
  </div>
  <h1 mat-dialog-title>{{ data.dialogType | uppercase }}</h1>
  <div mat-dialog-content>
    <p>{{ data.dialogMsg }} &nbsp; in &nbsp;{{ date | date : "short" }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onClose()">Close</button>
    <button mat-raised-button [mat-dialog-close]="data">Ok</button>
  </div>
</div>
